.thumbnail {
  height :400px;
  width:500px;
  border : 7px solid black;
  padding:5px;
}

body {
  text-align:center;
 font-style:italic;
}
#welcome {
  padding:1px;
   color:red;
   background-color:lime;
        z-index:3;
      font-family: 'Carattere', cursive;
  font-size:30px;
}
#hobby {
   background-color:#64B5F6;
}
#festivals {
   background-color:#FFEE58;
  
}
#Stories {
   background-color:#41e805;
}
#City {
   background-color:#f5ec42;
}
#Music {
   background-color:#64B5F6;
}
#Nature {
   background-color:#FFEE58;
  
}
.right {
  background-color: lightblue;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}
.items:hover {
    background-color:dodgerblue;
}
.menuhead {
    cursor:pointer;
   color:black;
    list-style: none;
    font-size: 15px;
    z-index:4;
    top:10px;
    position:absolute;
    top:0px;
    position:fixed;
    width:100%;
    background-color: #3c3c3d;
    margin-top:0px;
    text-align:center;
}
.items{
     padding-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline;
    text-align: center;

}
#logo{
  border-radius:500px;
}
#Inspiration {
   background-color:#41e805;
}
#Web {
   background: linear-gradient(#4bdee3 0%, #18ed74 100%);
}
#Multi {
   background: linear-gradient(#41e805 0%, grey 100%);
}
a {
  text-decoration:none;
  color:white;
}
#Contact{
  background-color:	#87CEEB;
}
#Gallery{
  background-color:	#87CEEB;
}
.blank h3{
    display:inline;
}
#Contact a{
 color:black;
}
#References{
    background-color:lightblue;
}